<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../layouts/head %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/list.css">
</head>

<body class="container">
    <!-- header -->
    <% include ../../layouts/header %>
    <!-- main -->
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2><b>
                            <%=title%></b></h2>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-info add-new" href="/catalog/bookinstance/create" role="button"><i class="fa fa-plus"></i>
                        Add New</a>
                </div>
            </div>
        </div>
        <%if(bookinstance_list){ %>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Due</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <% for(var i=0; i<bookinstance_list.length; i++) {%>
            <tbody>
                <tr>
                    <td><a href="<%=bookinstance_list[i].url%>">
                            <%=bookinstance_list[i].imprint%></a></td>
                    <td>
                        <%if(bookinstance_list[i].status=="Available"){ %>
                        <span class="text-success">
                            <%=bookinstance_list[i].status%></span>
                        <% } else if(bookinstance_list[i].status=="Maintenance"){ %>
                        <span class="text-danger">
                            <%=bookinstance_list[i].status%></span>
                        <% } else{ %>
                        <span class="text-warning">
                            <%=bookinstance_list[i].status%></span>
                        <% } %>

                    </td>
                    <td>
                        <%if(bookinstance_list[i].status!=="Available"){ %>
                        <span>
                            <%=bookinstance_list[i].due_back_formatted%></span>
                        <% } %>
                    </td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" href="<%=bookinstance_list[i].url%>/update" title="Edit" data-toggle="tooltip"><i
                                class="material-icons">&#xE254;</i></a>
                        <a class="delete" href="<%=bookinstance_list[i].url%>/delete" title="Delete" data-toggle="tooltip"><i
                                class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
            <% } %>
        </table>
        <% } else{ %>
        <p>There are no book copies in this library.</p>
        <% } %>
    </div>

    <!-- main -->
    </div>
    </div>
    </div>
    <footer>
        <% include ../../layouts/footer %>
    </footer>

</body>